{{ form_start(form) }}
    {# {% use 'other_forms/_designation.html.twig' %} #}
    {{ form_start(form)}}

    <div data-index = "1" data-prototype = "{{ form_widget(form.designations.vars.prototype) | e('html') }}">
    
    </div>

    <button type="button" id='add-task' data-collection-holder-class = 'designations'>Ajouter une tâche</button>


    <button class="btn">{{ button_label|default('Enregistrer') }}</button>

    {{ form_end(form)}}

{{ form_end(form) }}
