<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="UTF-8">
        <title>Facture {{ invoice.number }}</title>
        <link rel="stylesheet" href="{{ asset('assets/styles/main.css') }}">
        <link rel="stylesheet" href= "{{ asset('assets/styles/invoice.css') }}">
        
    </head>

<body>
    <div id="invoice-header">
        <p id= "name">Charlotte BLAISE</p>
        <div>
        <p>Chemin Marie Baume, 14</p>
        <p>6590 - Momignies</p>
        <p> +32/0 60 51 25 08 </p>
        <p> contact@charlotteblaise.be </p> 
    </div>

    <section id="client_details">
        <p>{{ invoice.client }}</p>
        <div>
            <p>{{ invoice.client.adress }} </p>
            <p>{{ invoice.client.zipcode}} - {{invoice.client.city}} </p>
            <p> </p>
            <p> </p>
        </div>
    </section>

    <section id="letter_content">
        <p id="date_details">
            Momignies, le {{ invoice.date|date('Y-m-d') }}
        </p>
        <p id= "object">
            Objet : Facture n° {{ invoice.number}}
        </p>

        <p>
            Madame, Monsieur, 

            Je vous prie de prendre connaissance de mes honoraires d'un montant de XXX,XX EUROS relatifs aux travaux suivants : 
        </p>

        <table>
            <thead>
                <tr>
                    <th class= "designation">
                        Désignation
                    </th>
                    <th class= "amount">
                        Montant HT
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class= "designation">Déclaration TVA 1er trimestre </td>
                    <td class= "amount"> 120.00</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td>Montant H.T.</td>
                    <td>120.00</td>
                </tr>
                <tr>
                    <td>T.V.A.</td>
                    <td>25.20</td>
                </tr>
                <tr>
                    <td>Montant TVAC</td>
                    <td>145.20</td>
                </tr>
            </tbody>
        </table>
    </section>

</body>

</html>