{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block stylesheets %}
    <link rel=stylesheet href='{{asset('assets/styles/table.css')}}'>
{% endblock %}

{% block body %}
    <h1>Clients</h1>

    <a class="to-new" href="{{ path('client_new') }}">Nouveau client</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>City</th>
                <th>TVA</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.city }}</td>
                <td>{{ client.vatNumber }}</td>
                <td>{{ client.mail }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
