{% extends 'base.html.twig' %}

{% block title %}Tableau de bord {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/styles/dashboard.css') }}"
{% endblock %}

{% block body %}

<menu id='menu'>
    <div id="menu_caller">
        <h3>
            +
        </h3>
    </div>

    <div>
        <ul>
            <li><a href={{ path('client_index')}}>Voir les clients</a></li>
            <li><a href={{ path('invoice_index')}}>Liste des factures</a></li>
            <li><a href={{ path('client_index')}}>Relances</a></li>
            <li><a href={{ path('work_index')}}>Liste des tâches</a></li>
        </ul>
    </div>
</menu>

<div class='container'>
    <ul>
        <li class='card'>
            <a href={{ path('client_new')}}>Nouveau client</a>
        </li>

        <li class='card'>
            <a href={{ path('invoice_new')}}>Nouvelle facture</a>
        </li>

        <li class='card'>
            <a href={{ path('client_index')}}>Relances</a>
        </li>

        <li class='card'>
            <a href={{ path('work_index')}}>Nouvelle tâche</a>
        </li>
    </ul>

</div>
{% endblock %}


{% block javascripts %}
    <script src={{ asset('assets/scripts/dashboard.js') }} defer>
{% endblock %}