{% extends 'base.html.twig' %}

{% block title %}T창ches{% endblock %}


{% block stylesheets %}
    <link rel=stylesheet href='{{asset('assets/styles/table.css')}}'>
{% endblock %}


{% block body %}
    <h1>Liste des t창ches</h1>

    <a class="to-new" href="{{ path('work_new') }}">Nouvelle t창che</a>

    <table class="table">
        <thead>
            <tr>
                <th>T창che</th>
                <th>Taux horaire</th>
                <th>Facturable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work in works %}
            <tr>
                <td>{{ work.title }}</td>
                <td>{{ work.basicFee }}</td>
                <td>{{ work.payable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('work_show', {'id': work.id}) }}">show</a>
                    <a href="{{ path('work_edit', {'id': work.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
